#front-page-hero {
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    .hero-text {
        color: white;

        .hero-title {
            font-size: 50px;
        }

        .hero-subtitle {
            font-size: 30px;
        }
    }
}