#front-page-hero {
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    .hero-text {
        color: white;
        text-align: center;
        padding-top: 30%;
    }
}